*{
    margin:0;
    padding: 0;
    font-family: 'poppins', 'sans-serif';
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(16.jpg) ;
    background-size: cover;
    background-position: relative;
    background-position: center;
    
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
}
.nav-links{
    flex: 1;
    text-align: right;
    transition: 1s;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li :hover{
    transition:1s;
    color:rgb(230, 25, 25);
    
}
@media (max-width:400px){
    .nav-links ul li{
        display: flow-root;
        position: relative;
        
    }
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
/*Make the menu hover after visiting*/
.nav-links ul li :hover ::after{

width: 100%;
}
/*tEXT-BOX*/
.text-box{
    text-align: center;
    
    padding-top: 100px;
    width: 90%;
    color: rgb(247, 22, 22);
    position: absolute;
    transform: translate(-50 -50%);
    /*
    width: auto;
    transform: translate(-50 -50%);

    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: aquamarine;
    padding-top: 100px;
    */

}
.text-box h1{
    font-size: 60px;
}
.text-box p{
    margin: 10px 0 40px;
    color: rgb(16, 81, 221);
    font-size: 14px

}
.hero-btn{
    display: inline-block;
    cursor: pointer;
    color: #fff;
    background: greenyellow;
    position: relative;
    text-decoration: none;
    font-size: 13px;
    padding:12px 34px;
    border: 1px solid #ff42;

}
.hero-btn:hover{
    border: 1px solid #ff77;
    transition: 1s;
    background:rgba(172, 25, 61, 0.467);
}


#icoNs{
    display: none;
}
/*When using a small device-screen*/
@media (max-width: 400px){
    .text-box h1{
        font-size: 20px;
        color: purple;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        height: 100vh;
        text-align: left;
        right:-200px;
        z-index: 2;
        background: rgb(226, 73, 12);
        top: 0;
        width: 200px;
        transition: 1s;
    }
    
    .nav-links ul{
        padding: 30px;
    }
    #icoNs{
        display: block;
        color: #fff;
        cursor: pointer;
        font-size:22px ;
        margin: 10px;
    
    }
}
.websites{
    text-align: center;
    padding-top: 100px;
    width: 80%;
    margin: auto;
}
.websites h1{
    font-size: 36px;
    font-weight: 600;
    color: rgb(173, 36, 36);
    text-align: center;
}
.websites p{
    color: green;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: center;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.websites-col{
    flex-basis: 31%;
    background: #ccc;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.websites-col h3{
    text-align: center;
    font-weight: 600;
    margin-top: 10px 0;
    color: #fff;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0,0,0.2);

}
@media  (max-width:400px){
    .row{
        flex-direction: column;
    }
}
/*----headquarters----*/
.headquarter{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.headquarter-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.headquarter-col img{
    width: 100%;
    display: block;
}
.Layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}
.Layer:hover{
    background: rgb(171, 219, 247);

}
.Layer h3{
    width: 100%;
    font-weight: 500;
    color: yellow;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    transition: 0.5s;
    opacity: 0;
}
.Layer:hover h3{
    opacity: 1;
    bottom: 49%;

}
@media  (max-width:400px){
    .headquarter{
        flex-direction: column ;
    }
}

/*-------facilities-------*/
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    position: relative;
    overflow: hidden;

}
.facilities-col img{
    width: 100%;
    border-radius: 10px;

}
.facilities-col p{
    padding: 0;
    color:grey;
}
.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 13px;
    text-align: center;

}
.cta{
    margin-bottom: 100px auto;
    height: 100%;
    text-align: center;
    padding: 100px;
    background-size: cover;
    background-position: center;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(image1.jpg) ;
}
.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.testimonials-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background:#ccc;
    cursor: pointer;
    display: flex;
    padding: 25px;
}

.testimonials-col img{
    border-radius:50%;
    height: 40px;
    margin-left:5px;
    margin-right: 30px;
    

}
.testimonials-col p{
padding: 0;
color:green;
}
.testimonials-col h3{
    margin-top: 15px;
    text-align: left;
}
.testimonials-col .fa{
    color: #f44336;
}
@media  (max-width:400px){
    .testimonials-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
}
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(), rgba()), url(image1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
@media (max-width:400px){
.cta h1{
    font: 24px;
}
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background: orange;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: red;
    cursor: pointer;
    margin: 0 13px;
    padding: 18px 0;
}
.fa-heart-o{
    color: #f44336;
}
/*-About Us css-------*/
.sub-header{
    height: 50vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)) ,url(image6.jpg);
    background-position: center;
    counter-reset: #fff;
}
.sub-header h1{
    padding-top: 100px;
    text-align: center;
    color: aquamarine;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
    color:green;
}
.red-btn{
    display: inline-block;
    cursor: pointer;
    color: #fff;
    background: blue;
    position: relative;
    text-decoration: none;
    font-size: 13px;
    padding:12px 34px;
    border: 1px solid #ff42;

}
.red-btn:hover{
    border: 1px solid #ff77;
    transition: 1s;
    background:rgba(172, 25, 61, 0.467) ;
}
.blog-content{
    width: 80%;
    padding: 60px 0;
    margin: auto;
}
.blog-left{
    flex-basis: 65%;
    margin-left: 10px;
}
.blog-left img{
    width: 100%;
}
.blog-left h2{
    color: #222;
    font-weight: 600;
    margin:30px 0 ;
}
.blog-left{
    padding: 0;
    color:green;
}
.blogs-right{
    flex-basis: 32%;
}
@media (max-width:400px) {
    .blogs-right{
        margin-left: 12px;
        margin-right: 12px;
    }
    .blog-left p{
        margin-right: 10px;
        margin-left: 12px;
    }
    
}
.blogs-right h3{
    background:#f44336;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}
.blogs-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}
.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}
.comment-box h3{
    text-align: left;
}
.comment-form input{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}
.comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;

}
.comment-form button{
    margin:10px 0;
}
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}
.contact-col{
    flex-basis: flex;
    margin-bottom: 30px;
    margin-left: 12px;

}
@media (max-width:400px) {
   .contact-col{
    margin-right: 14px;
   } 
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
    margin-left: 10px;
}

.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 5px;
    color:goldenrod;
}
.contact-col input,.contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.login-form{
    border-radius: 12px;
    box-sizing: border-box;
    align-items: center;
    border: 12px;
}